.btn {
  min-width: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li input {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

li button {
  padding: 5px;
  margin-left: 5px;
  width: 100px;
}

.edit-btn {
  background-color: #ffc107;
  color: white;
  border: 1px solid #ccc;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: 1px solid #ccc;
}

.edit-btn:hover {
  background-color: #e0a800;
}

.delete-btn:hover {
  background-color: #c82333;
}
.edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.important-btn {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid #ccc;
  min-width: 150px;
  height: fit-content;
}

.important-btn:hover {
  background-color: #c82333;
}
